* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

a {
    margin-left: 20px;
}

header {
    display: flex;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    align-items: center; 
    position: fixed;
    margin: -10px -7px 0 -8px;
    z-index: 20;
}



nav {
    display: flex;
    flex: 4; 
    text-decoration: underline;
    justify-content: flex-end;
    padding-right: 10px;
}

.logo {
    flex: 1;
    padding-top: 10px;
    text-align: left;
}

.logo img {
    height: 50px;
    padding-left: 10px;
}

.mission {
    display: flex;
    height: 700px;
    width: 1200px;
    background-image: url("../images/background.jpg");
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}


main {
    padding-top: 60px;
}


.location {
    display: block;
    margin: 0 auto;
    height: 500px;
    width: 1200px;
    background-image: url("../images/locations.jpg");
}

.tea img {
    height: 200px;
    width: 300px;
}

.tea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
}

.tea p {
    margin-top: 10px;
    font-weight: bold;
    
}


.spiced {
    margin-left: 25px;
    margin-right: 25px;
}

.berry {
    margin-left: 0;
    margin-right: 25px;
}

.donuts {
    margin-right: 0px;
    margin-left: 25px;
}

.myrtle {
    margin-right: 25px;
}

.bizarre {
    margin-left: 25px;
}
