* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

a {
    margin-left: 20px;
}

header {
    display: flex;
    width: 100%;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center; 
    position: fixed;
    margin-right: -7px;
    margin-left: -7px;
}

nav {
    display: flex;
    flex: 4; 
    text-decoration: underline;
    justify-content: flex-end;
    padding-right: 10px;
}

.logo {
    flex: 1;
}

.logo img {
    height: 50px;
    padding-left: 10px;
}


